.about{
  position: relative;
  padding: 0 40px;
  @media(max-width:1000px){
    padding: 0 10px;
  }
  &__wrapper{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(102, 37, 165, 1);
    padding: 80px 0 0 100px;
    border-radius: 80px;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: bottom 120px right 248px;
    color: #ffffff;
    @media(max-width:1400px){
      padding-top: 60px;
      padding-left: 60px;
      margin-top: 80px;
      border-radius: 40px;
      background-size: 288px 296px;
      background-position: bottom 118px right 166px;
    }
    @media(max-width:1000px){
      margin-top: 50px;
      padding-top: 20px;
      padding-left: 20px;
      background-image: none !important;
      border-radius: 20px;
    }
  }
  &__content{
    max-width: 620px;
    padding-bottom: 180px;
    height: fit-content;
    @media(max-width:1400px){
      max-width: 440px;
      padding-bottom: 160px;
    }
    @media(max-width:800px){
      max-width: 100%;
      padding-bottom: 184px;
    }
  }
  &__title{
    font-size: 80px;
    line-height: 1em;
    color: #ffffff;
    text-transform: uppercase;
    @media(max-width:1400px){
      font-size: 50px;
    }
    @media(max-width:800px){
      font-size: 30px;
    }
  }
  &__subtitle{
    margin-top: 40px;
    font-size: 40px;
    line-height: 46.32px;
    text-transform: uppercase;
    @media(max-width:1400px){
      margin-top: 20px;
      font-size: 30px;
      line-height: 34.74px;
    }
    @media(max-width:800px){
      font-size: 20px;
      line-height: 23.16px;
    }
  }
  &__img{
    margin-right: -39.5px;
    width: 491px;
    height: 621px;
    position: relative;
    bottom: -12px;
    @media(max-width:1400px){
      width: 362px;
      height: 458px;
      margin-right: -40px;
      bottom: -27px;
    }
    @media(max-width:1000px){
      margin-right: 0;
    }
    @media(max-width:900px){
      display: none;
    }
  }
  &__list{
    li{
      margin-top: 20px;
      position: relative;
      padding-left: 22px;
      font-family: 'Inter';
      font-size: 20px;
      line-height: 1.5em;
      font-weight: 400;
      br{
        display: none;
      }
      &::after{
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        display: block;
        width: 12px;
        height: 12px;
        border: 3px solid rgba(254, 209, 48, 1);
        border-radius: 50%;
      }
      @media(max-width:1400px){
        margin-top: 10px;
        font-size: 18px;
        line-height: 28px;
      }
      @media(max-width:800px){
        margin-top: 6px;
        font-size: 14px;
        line-height: 21px;
        br{
          display: block;
        }
      }
    }

  }
  &__info{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    position: absolute;
    bottom: -128px;
    background-color: rgba(254, 209, 48, 1);
    border-radius: 40px;
    padding: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    @media(max-width:1400px){
      border-radius: 20px;
      width: calc(100% - 160px);
      flex-direction: column;
      padding: 30px;
      bottom: -92px;
    }
    @media(max-width:1000px){
      width: calc(100% - 60px);
      padding: 20px;
      bottom: -106px;
    }
  }
  &__for{
    font-size: 40px;
    line-height: 46.32px;
    max-width: 750px;
    text-transform: uppercase;
    @media(max-width:1400px){
      max-width: 100%;
      font-size: 25px;
      line-height: 29px;
      br{
        display: none;
      }
    }
    @media(max-width:800px){
      font-size: 18px;
      line-height: 20.84px;
    }
  }
  &__items{
    display: flex;
    gap: 40px;
    align-items: flex-start;
    @media(max-width:1400px){
      width: 100%;
      flex-wrap: wrap;
    }
    @media(max-width:800px){
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }
  }
  &__item{
    max-width: 231px;
    font-size: 18px;
    line-height: 1.5em;
    font-weight:400;
    font-family: 'Inter';
    @media(max-width:1400px){
      display: flex;
      max-width: 100%;
      width: calc(50% - 20px);
      gap: 10px;
      margin-top: 10px;
      font-size: 16px;
    }
    @media(max-width:800px){
      width: 100%;
      margin-top: 0;
      font-size: 14px;
    }
    div{
      background-color: rgba(102, 37, 165, 1);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      @media(max-width:1400px){
        margin-top: 11px;
      }
      @media(max-width:800px){
        width: 40px;
        height: 40px;
        margin-top: 0;
      }
      img{
        width: 30px;
        height: auto;
        object-fit: cover;
      }
    }
    p{
      margin-top: 10px;
      @media(max-width:1400px){
        margin-right: 30px;
      }
      @media(max-width:800px){
        margin: 0;
      }
    }
  }
}