.footer{
  margin-top: 140px;
  background-color: rgba(102, 37, 165, 1);
  border-radius: 80px 80px 0 0;
  width: 100%;
  font-family: 'Inter';
  font-weight: 400;
  @media(max-width:1400px){
    margin-top: 80px;
    border-radius:40px 40px 0 0;
  }
  @media(max-width:800px){
    margin-top: 30px;
    border-radius: 20px 20px 0 0;
  }
  &__wrapper{
    max-width: 1480px;
    margin: 0 auto;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
    @media(max-width:1400px){
      padding: 60px 40px;
    }
    @media(max-width:800px){
      padding: 30px 10px;
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }
  }
  &__left{
    display: flex;
    flex-direction: column;
    gap: 14.5px;
    font-size: 17px;
    line-height: 25.5px;
    color: rgb(255, 255, 255);
    @media(max-width:1400px){
      gap: 20px;
    }
    @media(max-width:800px){
      align-items: center;
    }
  }
  &__logo{
    width: 192px;
    height: 37px;
  }
  &__part{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    p{
      max-width: 212px;
    }
    @media(max-width:1400px){
      font-size: 14px;
      line-height: 1.5em;
      max-width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
  &__imgs{
    display: flex;
    gap: 40px;
    img{
      height: 60px;
      width: auto;
    }
    @media(max-width:1400px){
      gap: 20px;
    }
  }
  &__title{
    @media(max-width: 800px){
      font-size: 13px;
      line-height: 1.5em;
    }
  }
  &__links{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    line-height: 1.5em;
    a{
      color: rgb(255, 255, 255);
    }
    @media(max-width:800px){
      text-align: center;
    }
  }
  &__contacts{
    font-family: 'HalvarBreit';
  font-weight: 900;
  max-width: 415px;
  font-size: 20px;
  line-height: 23.16px;
  color: rgb(255, 255, 255);
  br{
    display: none;
  }
  @media(max-width:1400px){
    font-size: 20px;
    line-height: 23.16px;
    max-width: 320px;
    br{
      display: block;
    }
  }
  @media(max-width:800px){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 18.53px;
    text-align: center;
  }
  }
  &__email{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    span{
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      text-decoration: underline;
    }
    @media(max-width:800px){
      margin-top: 20px;
      font-size: 15px;
      line-height: 17.37px;

      img{
        width: 18px;
        height: auto;
      }
    }
  }
}