.header{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
    align-items: center;
  }
  &__btns{
    display: flex;
    gap: 10px;
  }
  &__btn{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    @include btn;
    background: linear-gradient(to right,rgba(226, 23, 139, 1), rgba(251, 94, 23, 1));
    width: fit-content;
  }
}
.nav{
  &__list{
    display: flex;
    gap: 80px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    line-height: 25.5px;
  }
}