.idea{
  margin-top: 140px;
  background-size: cover;
  border-radius: 80px;
  &__wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 140px;
    display: flex;
    gap: 60px;
    padding-bottom: 151px;
  }
  &__left{
    max-width: 836px;
  }
  &__title{
    @include title;
    text-transform: uppercase;
    position: relative;
    img{
      position: absolute;
      right: 0;
      top: 0;
      width: 60px;
      height: 60px;
    }
  }
  &__content{
    margin-top: 40px;
    background-position: right 0 top 0;
    padding: 86px 0;
    background-repeat: no-repeat;
    p{
      max-width: 400px;
      font-size: 30px;
      line-height: 34.74px;
      text-transform: uppercase;
      span{
        color: rgba(102, 37, 165, 1);
      }
      img{
        margin-top: 6px;
        width: 24px;
        height: 24px;
      }
    }
  }
  &__right{
    max-width: 504px;
  }
  &__slider{
    width: 504px;
    height: 360px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  &__slide{
    width: 504px;
    height: 360px;
    border-radius: 20px;
    img{
      object-fit: cover;
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }
  }
  &__arrows{
    position: absolute;
    display: flex;
    gap:10px;
    bottom: 20px;
    right: 20px;
  }
  &__text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
    margin-top: 30px;
  }
}

