.major{
  background-size: cover;
  border-radius: 0 0 200px 200px;
  @media(max-width:1020px){
    border-radius: 0;
  }
  &__wrapper{
    max-width: 1510px;
    padding-left: 55px;
    padding-top: 157px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    @media(max-width:1500px){
      padding-left: 40px;
      padding-top: 132px;
    }
    @media(max-width:1020px){
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      padding-top: 66px;
    }
  }
  &__content{
    margin-top: 58px;
    max-width: 905px;
    @media(max-width:1500px){
      max-width: 580px;
      margin-top: 18px;
    }
    @media(max-width:1020px){
      order: 2;
      margin-top: -29px;
      
    }
  }
  &__title{
    font-size: 120px;
    line-height: 1em;
    color: rgba(102, 37, 165, 1);
    @media(max-width:1500px){
      font-size: 70px;
    }
    @media(max-width:800px){
      font-size: 40px;
    }
  }
  &__btns{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    @media(max-width:1500px){
      gap: 10px;
      padding-bottom: 5px;
    }
    @media(max-width:800px){
      flex-wrap: wrap;
      margin-top: 10px;
      padding-bottom: 0;
    }
  }
  &__btn{
    border-radius: 100px;
    padding: 10px 30px;
    background-color: rgba(254, 209, 48, 1);
    font-size: 40px;
    line-height: 1.5em;
    text-transform: uppercase;
    height: fit-content;
    text-wrap: nowrap;
    width: fit-content;
    @media(max-width:1500px){
      font-size: 25px;
    }
    @media(max-width:800px){
      font-size: 18px;
      width: 100%;
      text-align: center;
    }
  }
  &__video{
    padding: 17.5px 60px;
    font-size: 30px;
    border-radius: 100px;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    width: fit-content;
    @media(max-width:1500px){
      padding:14px 30px;
      font-size: 20px;
      gap:10px;
      text-align: center;
    }
    img{
      width: auto;
      height: 20px;
    }
    @media(max-width:800px){
      font-size: 18px;
      padding: 10px 30px;
      gap: 5px;
    }
  }
  &__text{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    img{
      width: 25px;
      height: 25px;
    }
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    max-width: 835px;
    span{
      font-weight: 700;
    }
    @media(max-width:1500px){
      margin-top: 15px;
      font-size: 16px;
    }
    @media(max-width:800px){
      margin-top: 10px;
      padding-bottom: 5px;
      font-size: 15px;
      line-height: 23px;

    }
  }
  &__desc{
    margin-right: 51px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 80px 20px 35px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    background-repeat: no-repeat;
    background-position: bottom 0pc right 17px;
    br{
      display: none;
    } 
    span{
      font-weight: 700;
      color: rgba(102, 37, 165, 1);
    }
    @media(max-width:1500px){
      margin-top: 15px;
      width: 100%;
      padding: 20px;
      padding-right: 40px;
      margin-right: 0;
      font-size: 16px;
    }
    @media(max-width:800px){
      margin-top: 10px;
      padding: 20px;
      font-size: 15px;
      line-height: 23px;
      padding-right: 50px;
      br{
        display: block;
      }
    }
  }
  &__slider{
    max-width: 535px;
    position: relative;
    height: auto;
    &-wrapper{
      .slick-slide{
        position: relative;
        z-index: 6 !important;
      }
      .slick-slide img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    @media(max-width:1400px){
      width: 400px;
    }
    @media(max-width:800px){
      width: 260px;
    }
  }
  &__prev{
    position: absolute;
    top: 75px;
    left: 55px;
    z-index: 5;
    @media(max-width:1400px){
      top: 38px;
      left: 41px;
    }
    @media(max-width:800px){
      top: 43%;
      left: -15px;
      height: 30px;
    }
  }
  &__next{
    position: absolute;
    bottom: 125px;
    right: 55px;
    z-index: 5;
    @media(max-width:1400px){
      bottom: 70px;
      right: 45px;
    }
    @media(max-width:800px){
      top: 43%;
      right: -15px;
      height: 30px;
    }

  }
  &__start{
    margin: 0 auto;
    display: block;
    padding: 20px 50px;
    background: linear-gradient(to right,rgba(226, 23, 139, 1), rgba(251, 94, 23, 1));
    text-wrap: nowrap;
    width: min-content;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    border-radius: 30px 30px 0 0;
    text-transform: uppercase;
    margin-top: 3px;
    @media(max-width:1500px){
      margin-top: -23px;
    }
    @media(max-width:1020px){
      margin-top: 47px;
    }
  }
  
}