.major{
  background-size: cover;
  border-radius: 0 0 clamp(50px, 10vw, 200px) clamp(50px, 10vw, 200px);
  &__wrapper{
    max-width: 1510px;
    padding-left: 55px;
    padding-top: 82px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    @media(max-width:1750px){
      padding-left: 40px;
      padding-top: 64px;
    }
    @media(max-width:1020px){
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      padding-top: 66px;
    }
  }
  &__content{
    margin-top: 133px;
    max-width: 905px;
    @media(max-width:1750px){
      max-width: 580px;
      margin-top: 85px;
    }
    @media(max-width:1020px){
      order: 2;
      margin-top: -15px;
    }
    @media(max-width:600px){
      margin-top: -146px;
    }
  }
  &__title{
    font-size: 120px;
    line-height: 1em;
    color: rgba(102, 37, 165, 1);
    @media(max-width:1500px){
      font-size: 70px;
    }
    @media(max-width:800px){
      font-size: 40px;
    }
  }
  &__btns{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    @media(max-width:1500px){
      gap: 10px;
      padding-bottom: 5px;
    }
    @media(max-width:800px){
      flex-wrap: wrap;
      margin-top: 10px;
      padding-bottom: 0;
    }
  }
  &__btn{
    display: block;
    border-radius: 100px;
    padding: 10px 30px;
    background-color: rgba(254, 209, 48, 1);
    font-size: 40px;
    line-height: 1.5em;
    text-transform: uppercase;
    height: fit-content;
    text-wrap: nowrap;
    width: fit-content;
    transition: all ease 0.6s;
    @media(max-width:1500px){
      font-size: 25px;
    }
    @media(max-width:800px){
      font-size: 18px;
      width: 100%;
      text-align: center;
    }
    @media(hover:hover){
      &:hover{
        background-color: rgba(102, 37, 165, 1);
        color: #ffffff;
      }
    }
  }
  &__video{
    padding: 17.5px 60px;
    font-size: 30px;
    border-radius: 100px;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    width: fit-content;
    transition: all ease 0.6s;
    position: relative;
    z-index: 6;
    path{
      transition: all ease 0.5s;
    }
    @media(max-width:1500px){
      padding:14px 30px;
      font-size: 20px;
      gap:10px;
      text-align: center;
    }
    @media(max-width:800px){
      font-size: 18px;
      padding: 10px 30px;
      svg{
        width: 12px;
        height: 14px;
      }
    }

    @media(hover:hover){
      &:hover{
        cursor: pointer;
        background-color: rgba(102, 37, 165, 1);
        color: #ffffff;
          path{
            fill:white;
          }
      }
    }
  }
  &__text{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    img{
      width: 25px;
      height: 25px;
    }
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    max-width: 835px;
    span{
      font-weight: 700;
    }
    @media(max-width:1500px){
      margin-top: 15px;
      font-size: 16px;
    }
    @media(max-width:800px){
      margin-top: 10px;
      padding-bottom: 5px;
      font-size: 15px;
      line-height: 23px;

    }
  }
  &__desc{
    margin-right: 51px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 70px 20px 35px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    background-repeat: no-repeat;
    background-position: bottom 0pc right 17px;
    br{
      display: none;
    } 
    span{
      font-weight: 700;
      color: rgba(102, 37, 165, 1);
    }
    @media(max-width:1500px){
      margin-top: 15px;
      width: 100%;
      padding: 20px;
      padding-right: 40px;
      margin-right: 0;
      font-size: 16px;
      br{
        display: block;
      }
    }
    @media(max-width:800px){
      margin-top: 10px;
      padding: 20px;
      font-size: 15px;
      line-height: 23px;
      padding-right: 50px;
      br{
        display: block;
      }
    }
  }
  &__slider{
    width: 756px;
    position: relative;
    height: auto;
    z-index: 2;
    right: 102px;
    @media(max-width:1750px){
      right: 0;
      width: 455px;
      height: 600px;
    }
    &-wrapper{
      .slick-slide{
        position: relative;
        z-index: 6 !important;
        top: 75px !important;

      }
      .slick{
        width: 756px !important;
        @media(max-width:1750px){
          width: 455px !important;
        }
      }
      .slick-slide img{
        position: relative;
        z-index: 3;
      }
    }
    @media(max-width:1200px){
      width: 400px;
    }
    @media(max-width:1020px){
      top: -30px;
    }
    @media(max-width:600px){
      width: 100%;
      top: -41px;
      height: 504px;
    }
  }
  &__slide{
    background-position: right 0px top 74px;
    background-repeat: no-repeat;
    @media(max-width:1750px){
      background-position: top 0 right 0 !important;
      img{
        right: 0 !important;
        top: 0 !important;
      }
    }
  }
  &__prev{
    position: absolute;
    top: 150px;
    left: 175px;
    z-index: 5;
    transition: all ease 0.6s;
    @media(max-width:1750px){
      top: 106px;
      left: 41px;
    }
    @media(max-width:600px){
      top: 39.5%;
      left: 17px;
      svg{
        width: 18px;
      }
    }
    @media(hover:hover){
      &:hover{
        path{
          fill:rgba(102, 37, 165, 1)
        }
      }
    }
  }
  &__next{
    position: absolute;
    bottom: 133px;
    right: 157px;
    z-index: 5;
    transition: all ease 0.6s;
    @media(max-width:1750px){
      bottom: 48px;
      right: 45px;
    }
    @media(max-width:1200px){
      bottom: 0px;
      right: 45px;
    }
    @media(max-width:600px){
      top: 39.5%;
      right: 17px;
      svg{
        width: 18px;
      }
    }
    @media(hover:hover){
      &:hover{
        path{
          fill:rgba(102, 37, 165, 1)
        }
      }
    }
  }
  &__start{
    margin: 0 auto;
    display: block;
    padding: 20px 50px;
    background: linear-gradient(to right,rgba(226, 23, 139, 1), rgba(251, 94, 23, 1));
    text-wrap: nowrap;
    width: min-content;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff !important;
    border-radius: 30px 30px 0 0;
    text-transform: uppercase;
    transition: all ease 0.6s;
    margin-top: -7px;
    @media(hover:hover){
      &:hover{
        background: #6625A5;
      }
    }
    @media(max-width:1750px){
      margin-top: 15px;
    }
    @media(max-width:1200px){
      margin-top: 31px;
    }
    @media(max-width:1020px){
      margin-top: 47px;
    }
  }
  
}
.slide1{
  background-position: right 55px top 75px !important;
  background-image: url('../img/fon_slide1.svg');
  img{
    right: -222px !important; top: -2px !important;
  }
  @media(max-width:1750px){
    background-position: 41px 50px !important;
    background-size: 317px !important;
    img{
      right: -1px !important;
        width: 400px !important;
        top: -7px !important;
    }
  }
  @media(max-width:600px){
    background-position: 51% 44% !important;
    background-size: 204px !important;
    img{
      left: calc(44vw - 128px) !important;
      width: 260px !important;
      top: 7px !important;
    }
  }
}
.slide2{
  background-position: right 55px top 75px !important;
  background-image: url('../img/fon_slide2.svg');
  img{
    right: -252px !important;
    top: -2px !important;
  }
  @media(max-width:1750px){
    background-position: 41px 50px !important;
    background-size: 317px !important;
    img{
      right: -1px !important;
        width: 400px !important;
        top: -7px !important;
    }
  }
  @media(max-width:600px){
    background-position: 51% 51% !important;
    background-size: 204px !important;
    img{
      left: calc(44vw - 128px) !important;
      width: 260px !important;
      top: 0px !important;
    }
  }
}
.slide3{
  background-position: right 55px top 75px !important;
  background-image: url('../img/fon_slide3.svg');
  img{
    right: -222px !important;
    top: -14px !important;
  }
  @media(max-width:1750px){
    background-position: 41px 50px !important;
    background-size: 317px !important;
    img{
      right: -1px !important;
        width: 400px !important;
        top: -7px !important;
    }
  }
  @media(max-width:600px){
    background-position: 51% 44% !important;
    background-size: 204px !important;
    img{
      left: calc(44vw - 138px) !important;
      width: 260px !important;
      top: 1px !important;
    }
  }
}
.slide4{
  background-position: right 55px top 75px !important;
  background-image: url('../img/fon_slide4.svg');
  img{
    right: -227px !important;
    top: -102px !important;
  }
  @media(max-width:1750px){
    background-position: 41px 50px !important;
    background-size: 317px !important;
    img{
      right: -1px !important;
        width: 400px !important;
        top: -70px !important;
    }
  }
  @media(max-width:600px){
    background-position: 51% 33% !important;
    background-size: 204px !important;
    img{
      left: calc(44vw - 133px) !important;
      width: 260px !important;
      top: -21px !important;
    }
  }
}
.slide5{
  background-position: right 55px top 75px !important;
  background-image: url('../img/fon_slide5.svg');
  
  img{
    right: 173px !important;
    top: -93px !important;
  }
  @media(max-width:1750px){
    background-position: 41px 50px !important;
    background-size: 317px !important;
    height: 500px !important;
    img{
      right: 109px !important;
      width: 600px !important;
      top: 70px !important;
    }
  }
  @media(max-width:600px){
    background-position: 51% 21% !important;
    background-size: 204px !important;
    img{
      left: -17% !important;
      width: 100% !important;
      top: 10% !important;
    }
  }
  @media(max-width:400px){
    img{
      left: -18% !important;
      width: 115% !important;
      top: 9% !important;
    }
  }
}



.slide6{
  background-position: right 55px top 75px !important;
  background-image: url('../img/fon_slide6.svg');
  img{
    right: -222px !important;
    top: -9px !important;
  }
  @media(max-width:1750px){
    background-position: 41px 50px !important;
    background-size: 317px !important;
    height: 500px !important;
    img{
      right: -1px !important;
      width: 330px !important;
      top: -70px !important;
    }
  }
  @media(max-width:600px){
    background-position: 51% 21% !important;
    background-size: 204px !important;
    img{
      left: calc(44vw - 80px) !important;
      width: 190px !important;
      top: 5px !important;
    }
  }
}


.slide7{
  background-position: right 55px top 75px !important;
  background-image: url('../img/fon_slide7.svg');
  img{
    right: -222px !important; top: 56px !important;
  }
  @media(max-width:1750px){
    background-position: 41px 50px !important;
    background-size: 317px !important;
    height: 500px !important;
    img{
      right: -1px !important;
      width: 400px !important;
      top: 0 !important;
    }
  }
  @media(max-width:600px){
    background-position: 51% 22% !important;
    background-size: 204px !important;
    img{
      left: calc(44vw - 59px) !important;
      width: 200px !important;
      top: 30px !important;
    }
  }
}

.slide8{
  background-position: right 55px top 75px !important;
  background-image: url('../img/fon_slide8.svg');
  img{
    right: -259px !important; top: 14px !important;
  }
  @media(max-width:1750px){
    background-position: 41px 50px !important;
    background-size: 317px !important;
    height: 500px !important;
    img{
      right: -1px !important;
      width: 320px !important;
      top: -30px !important;
    }
  }
  @media(max-width:600px){
    background-position: 45% 21% !important;
    background-size: 204px !important;
    img{
      left: calc(44vw - 120px) !important;
      width: 190px !important;
      top: 9px !important;
    }
  }
}