.stages{
  margin-top:140px;
  background-size: cover;
  border-radius: 80px;
  &__wrapper{
    margin: 0 auto;
    max-width: 1400px;
    padding-top: 107px;
    padding-bottom: 140px;
  }
  &__top{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    @include title;
    color: rgba(44, 37, 51, 1);
    text-transform: uppercase;
    margin-top: 33px;
  }
  &__btn{
    margin-top: 20px;
    background-color: rgba(254, 209, 48, 1);
    padding: 10px 30px;
    font-size: 35px;
    line-height: 52.5px;
    text-wrap: nowrap;
    width: min-content;
    border-radius: 100px;
    text-transform: uppercase;
  }
  &__clew{
    position: relative;
    img{
      width: 184px;
      height: 184px;
      position: relative;
      left: -88px;
    }
  }
  &__block{
    position: relative;
    background: linear-gradient(to right,rgba(226, 23, 139, 1), rgba(251, 94, 23, 1));
    border-radius: 0px 100px 100px 70px;
    padding: 10px 20px 12px 20px;
    max-width: 230px;
    text-transform: uppercase;
    top: -49px;
  }
  &__list{
    margin-top:24px;
    display: flex;
    gap: 20px;
  }
  &__item{
    width: 335px;
    &:last-child{
      .stages__icon{
        display: none;
      }
    }

  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__date{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 100px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5em;
    color: rgba(102, 37, 165, 1);
    text-wrap: nowrap;
    width: min-content;
  }
  &__icon{
    width: 154px;
    height: 1px;
    background-color: rgba(102, 37, 165, 1);
    position: relative;
    &::after,
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: rgba(102, 37, 165, 1);
    }
    &::after{
      left: 0;
      top: -2px;
    }
    &::before{
      right: -2px;
      top: -2px;
    }
  }
  &__subtitle{
    font-size: 25px;
    line-height: 28.95px;
    text-transform: uppercase;
    margin-top: 20px;
    padding:0 20px;
    min-height: 58px;
  }
  &__text{
    padding: 0 20px;
    margin-top: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    span{
      font-weight: 700;
      color: rgba(102, 37, 165, 1);
    }
    p{
      margin-top: 10px;
      &:last-child{
        margin-bottom: 10px;
      }
      img{
        width: 25px;
        height: auto;
        margin-right: 6px;
      }
    }
  }
}