.stages{
  margin-top:140px;
  background-size: cover;
  border-radius: 80px;
  @media(max-width:1400px){
    margin-top: 80px;
    border-radius: 40px;
  }
  @media(max-width:800px){
    margin-top: 50px;
    padding-bottom: 40px;
  }
  &__wrapper{
    margin: 0 auto;
    max-width: 1480px;
    padding: 0 40px;
    padding-top: 107px;
    padding-bottom: 140px;
    @media(max-width:1400px){
      padding-top: 50px;
      padding-bottom: 80px;
    }
    @media(max-width:1000px){
      padding-top: 50px;
      padding-bottom: 80px;
      padding: 0 10px;
    }
  }
  &__top{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-size: 80px;
    line-height: 1em;
    color: rgba(44, 37, 51, 1);
    text-transform: uppercase;
    margin-top: 33px;
    @media(max-width:1400px){
      font-size: 50px;
      max-width: 550px;
    }
    @media(max-width:800px){
      font-size: 30px;
      margin-top: 40px;
    }
  }
  &__btn{
    margin-top: 20px;
    background-color: rgba(254, 209, 48, 1);
    padding: 10px 30px;
    font-size: 35px;
    line-height: 1.5em;
    text-wrap: nowrap;
    width: min-content;
    border-radius: 100px;
    text-transform: uppercase;
    @media(max-width:1400px){
      margin-top: 10px;
      font-size: 25px;
    }
    @media(max-width:800px){
      font-size: 18px;
      padding: 10px 20px;
      margin-top: 13px;
    }
  }
  &__clew{
    position: relative;
  }
  &__img{
    width: 184px;
    height: 184px;
    position: relative;
    left: -88px;
    img{
      position: absolute;
      width: 100%;
      transition: all 0.6s ease;
    }
    .img1{
      animation: show1 6s linear infinite;
    }
    .img2{
      animation: show2 6s linear infinite;
    }
    .img3{
      animation: show3 6s linear infinite;
    }
    @media(max-width:1400px){
      left: -53px;
      width: 124px;
      height: 124px;
    }
    @media(max-width:800px){
      left: -31px;
      top: 25px;
      width: 84px;
      height: 84px;
    }
  }
  &__block{
    position: relative;
    background: linear-gradient(to right,rgba(226, 23, 139, 1), rgba(251, 94, 23, 1));
    border-radius: 0px 100px 100px 70px;
    padding: 10px 20px 12px 20px;
    max-width: 230px;
    text-transform: uppercase;
    top: -49px;
    color:white;
    z-index: 5;
    @media(max-width:1400px){
      border-radius: 0px 100px 100px 90px;
      top: -34px;
      font-size: 14px;
      line-height: 16.21px;
      max-width: 206px;
    }
    @media(max-width:800px){
      font-size: 12px;
      line-height: 13.9px;
      padding: 10px;
      top: 2px;
      left: 2px;
      border-radius: 0 20px 20px 20px;
      width: 101px;
      br{
        display: none;
      }
    }
  }
  &__list{
    margin-top:24px;
    display: flex;
    gap: 20px;
    @media(max-width:1400px){
      margin-top: -5px;
    }
    @media(max-width:1000px){
      flex-wrap: wrap;
      margin-top: 15px;
    }
    @media(max-width:600px){
      flex-direction: column;
      gap: 10px;
    }
  }
  &__item{
    width: calc(25% - 15px);
    flex-shrink: 0;
    &:last-child{
      .stages__icon{
        display: none;
      }
    }
    @media(max-width:1000px){
      width: calc(50% - 15px);
      position: relative;
    }
    @media(max-width:600px){
      width: 100%;
      &:last-child{
        .stages__icon{
          display: block;
        }
      }
    }
    &_left{
      @media(max-width:600px){
        .stages__icon{
          left: 5px;
        }
        .stages__el{
          padding-left: 15px;
        }
        .stages__text{
          margin-top: 10px;
        }
      }
      &:last-child{
        .stages__icon{
          display: block;
        }
      }
    }

  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__date{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 100px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5em;
    color: rgba(102, 37, 165, 1);
    text-wrap: nowrap;
    width: min-content;
    @media(max-width:1400px){
      font-size: 14px;
    }
  }
  &__icon{
    width: 50%;
    height: 1px;
    background-color: rgba(102, 37, 165, 1);
    position: relative;
    flex-shrink: 1;
    &::after,
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: rgba(102, 37, 165, 1);
    }
    &::after{
      left: 0;
      top: -2px;
    }
    &::before{
      right: -2px;
      top: -2px;
    }
    @media(max-width:600px){
      width: 1px;
      height: calc(100% - 51px);
      position: absolute;
      left: 10px;
      top: 51px;
      &::after{
        left: -1px;
        top: 100%;
      }
    }
  }
  &__el{
    padding-top: 20px;
    @media(max-width:600px){
      padding-left: 20px;
    }
  }
  &__subtitle{
    font-size: 25px;
    line-height: 28.95px;
    text-transform: uppercase;
    padding:0 20px;
    min-height: 58px;
    @media(max-width:1400px){
      font-size: 20px;
      line-height: 23.16px;
      padding: 0;
      padding-left: 10px;
      width: max-content;
    }
    @media(max-width:600px){
      min-height: auto;
      width: auto;
      br{
        display: none;
      }
    }
  }
  &__text{
    padding: 0 20px;
    margin-top: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    span{
      font-weight: 700;
      color: rgba(102, 37, 165, 1);
    }
    p{
      margin-top: 10px;
      &:last-child{
        margin-bottom: 10px;
      }
      @media(max-width:600px){
        margin-top: 5px;
        &:last-child{
          margin-bottom: 5px;
        }
      }
      img{
        width: 25px;
        height: auto;
        margin-right: 6px;
        @media(max-width:1400px){
          width: 20px;

        }
      }
    }
    @media(max-width:1400px){
      padding: 0 10px;
      font-size: 16px;
      margin-top: -3px;
    }
    @media(max-width:600px){
      margin-top: 5px;
      padding-bottom: 10px;
    }
  }
}

@keyframes show1 {
  0% {
    display: inline-block;
  }
  30% {
    display: inline-block;
  }
  31% {
    display: none;
  }
  90% {
    display: inline-block;
  }
  100%{
    display: inline-block;
  }
}

@keyframes show2 {
  0% {
    display: none;
  }
  30% {
    display: inline-block;
  }
  66%{
    display: inline-block;
  }
  66%{
    display: none;
  }
  100%{
    display: none;
  }
}

@keyframes show3 {
  0% {
    display: none;
  }
  33% {
    display: none;
  }
  66%{
    display: inline-block;
  }
  90%{
    display: inline-block;
  }
  90%{
    display: none;
  }
  100%{
    display: none;
  }
}