.support{
  &__wrapper{
    margin-top: 140px;
    width: 100%;
    overflow: hidden;
    @media(max-width:1400px){
      margin-top: 80px;
    }
    @media(max-width:800px){
      margin-top: 20px;
    }
  }
  &__title{
    max-width: 1480px;
    margin: 0 auto;
    font-size: 80px;
    padding: 0 40px;
    line-height: 1em;
    text-transform: uppercase;
    @media(max-width:1400px){
      font-size: 50px;
    }
    @media(max-width:800px){
      padding: 0 10px;
        font-size: 30px;
        margin-top: 35px;
    }
  }
  &__subtitle{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
    margin-top: 60px;
    font-size: 30px;
    line-height: 1em;
    text-transform: uppercase;
    color: rgba(102, 37, 165, 1);
    @media(max-width:800px){
      padding: 10px;
      font-size: 20px;
      margin-top: 20px;
    }
  }
  .slick-list{
    overflow: visible;
  }
  .slick-track{
    display: flex;
    gap: 20px;
    img{
      max-height: 67px;
      max-width: 100%;
      @media(max-width:800px){
          height: auto;
        }
    }
  }
  &__stategic{
    @media(max-width:600px){
      margin-bottom: -10px;
    }
  }
  &__stategic_slide{
    width: 238.75px !important;
    height: 100px !important;
    border: 1px solid rgba(44, 36, 51, 0.05);
    border-radius: 10px;
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    &:hover{
      .support__bubl{
        opacity: 1;
        z-index: 5;
      }
    }
    @media(max-width:800px){
      width: 180px !important;
      height: 80px !important;
      margin-top: 10px;
    }
  }
  &__bubl{
    position: absolute;
    width: 220px;
    height: 150px;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 37px;
    left: 39px;
    top: -104px;
    opacity: 0;
    transition: all ease 0.6s;
    p{
      width: 134px;
      font-size: 19px;
      line-height: 1em;
     text-align: center;
    }
    span{
      width: 134px;
      font-family: 'Inter';
      font-weight: 400;
      font-size: 12px;
      line-height: 1.5em;
    }
  }
}