.top{
  background-size: cover;
  border-radius: 0 0 clamp(30px, 8vw, 200px) clamp(30px, 8vw, 200px);
  &__wrapper{
    margin: 0 auto;
    max-width: 1480px;
    padding: 178px 40px 112px 40px;

    @media(max-width:1400px){
      padding: 104px 40px 90px 40px;
    }
    @media(max-width:1000px){
      padding: 84px 10px 76px 10px;
      max-height: 240px;
    }
  }
  &__title{
    font-size: 40px;
    line-height: 1em;
    text-transform: uppercase;

    @media(max-width:1400px){
      font-size: 25px;
    }
    @media(max-width:800px){
      font-size: 20px;
    }
  }
}