.track{
  &__wrapper{
    margin: 0 auto;
    margin-top: 300px;
  }
  &__title{
    @include title;
    text-transform: uppercase;
  }
  &__list{
    margin-top:40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  &__item{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    &_blue{
      background-color: rgba(26, 198, 188, 1);
      .track__fon{
        left: 0;
        transform: translateX(50%);
      }
    }
    &_green{
      background-color: rgba(98, 207, 128, 1);
      .track__fon{
        left: -30px;
        transform: translateX(50%);
      }
    }
    &_energy{
      background-color: rgba(87, 126, 201, 1);
      .track__fon{
        left: -40px;
        transform: translateX(50%);
      }
    }
    &_arctic{
      background-color: rgba(116, 159, 173, 1);
      .track__fon{
        height: 270px;
        left: -32px;
        transform: translateX(50%);
      }
    }
    &_cosmos{
      background-color: rgba(78, 88, 108, 1);
      .track__fon{
        left: -31px;
        transform: translateX(50%);
        height: 270px;
      }
    }
    &_climate{
      background-color: rgba(183, 193, 60, 1);
      .track__fon{
        left: -40px;
        transform: translateX(50%);
      }
    }
    &_technologies{
      background-color: rgba(252, 142, 93, 1);
      .track__fon{
        top: 70px;
        left: 19px;
        transform: translateX(50%);
      }
    }
    &_science{
      background-color: rgba(162, 118, 194, 1);
      .track__fon{
        left: 118px;
        transform: translateX(50%);
      }
    }
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__name{
    color: #ffffff;
    font-size: 30px;
    line-height: 1em;
    text-transform: uppercase;
  }
  &__fon{
    position: absolute;
    top: 100px;
    width: auto;
    height: 300px;
    opacity: 0.1;
  }
}