.track{
  &__wrapper{
    margin: 0 auto;
    margin-top: 300px;
    max-width: 1480px;
    padding: 0 40px;
    @media(max-width:1400px){
      margin-top: 170px;
    }
    @media (max-width: 1000px){
      padding: 0 10px;
    }
    @media(max-width:800px){
      margin-top: 158px;
    }
  }
  &__title{
    font-size: 80px;
    line-height: 1em;
    text-transform: uppercase;
    @media(max-width:1400px){
      font-size: 50px;
    }
    @media(max-width:800px){
      font-size: 30px;
    }
  }
  &__list{
    margin-top:40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 335px);
    gap: 20px;
    justify-content: center;
    @media(max-width:1400px){
      grid-template-columns: repeat(auto-fill, 301px);
      margin-top: 30px;
    }
    @media(max-width:800px){
      grid-template-columns: repeat(auto-fill, 165px);
      gap: 10px;
      margin-top: 18px;
    }
  }
  &__glare{
    position: absolute;
    z-index: 3;
    top: 0;
    right: -150px;
    transition: all ease 1s;
  }
  &__item{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    &_blue{
      background-color: rgba(26, 198, 188, 1);
      .track__fon{
        left: 0;
        transform: translateX(50%);
      }
    }
    &_green{
      background-color: rgba(98, 207, 128, 1);
      .track__fon{
        left: -30px;
        transform: translateX(50%);
      }
    }
    &_energy{
      background-color: rgba(87, 126, 201, 1);
      .track__fon{
        left: -40px;
        transform: translateX(50%);
      }
    }
    &_arctic{
      background-color: rgba(116, 159, 173, 1);
      .track__fon{
        height: 270px;
        left: -32px;
        transform: translateX(50%);
      }
    }
    &_cosmos{
      background-color: rgba(78, 88, 108, 1);
      .track__fon{
        left: -31px;
        transform: translateX(50%);
        height: 270px;
      }
    }
    &_climate{
      background-color: rgba(183, 193, 60, 1);
      .track__fon{
        left: -40px;
        transform: translateX(50%);
      }
    }
    &_technologies{
      background-color: rgba(252, 142, 93, 1);
      .track__fon{
        top: 70px;
        left: 19px;
        transform: translateX(50%);
      }
    }
    &_science{
      background-color: rgba(162, 118, 194, 1);
      .track__fon{
        left: 118px;
        transform: translateX(50%);
      }
    }
    @media(max-width:800px){
      padding: 15px;
      height: 140px;
      border-radius: 10px;
      width: 165px;
    }
    &:hover{
      .track__glare{
        animation: box 1s ease-in-out infinite;
        animation-iteration-count:1;
      }
    }
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__name{
    color: #ffffff;
    font-size: 30px;
    line-height: 1em;
    text-transform: uppercase;
    @media(max-width:800px){
      font-size: 16px;
    }
  }
  &__logo{
    height: 40px;
    width: auto;
    @media(max-width:800px){
      height: 20px;
    }
  }
  &__icon{
    height: 70px;
    width: auto;
    @media(max-width:800px){
      height: 40px;
    }
  }
  &__fon{
    position: absolute;
    top: 100px;
    width: auto;
    height: 300px;
    opacity: 0.1;
  }
}
@keyframes box {
  from { right: -155px; }
  to { right: 550px; }
}